<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina modelo de mi hermano</title>
</head>
<body style="background-color: rgb(41, 36, 36);">
    <h1>pagina del modelo de mi hermano juan </h1>
    <section>
        <article>
            <p>datos de mi hno en formato lista</p>
            <ul>
                <li>mi hermano se llama{{nombre}}</li>
                <li>su ocupacion es de {{ocupacion}}</li>
                <li>nacio en {{nacimiento}}</li>
                <li> y su edad es {{edad}}</li>
        </article>
    </section>
    
</body>
</html>