<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de inicio de la familia</title>
</head>

<body style="background-color: rgb(135, 135, 209);color: antiquewhite;">
    <h1> aqui estan las siguientes clases de familiares creadas a partir del modelo familia</h1>
    <section>
        <article>
            <p><strong>aqui estan en formato de lista mis suiguientes familiares</strong></p>
            <ul>
                <li>escriba en la url "papa" para ir a los datos de mi papa</li>
                <li>escriba en la url "mama" para ir a los datos de mi mama</li>
                <li>escriba en la url "hermano" para ir a los datos de mi hermano</li>


            </ul>
        </article>
    </section>

</body>

</html>