<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de inicio del modelo mama</title>
</head>
<body style="background-color: rgb(6, 102, 6);">
    <h1>esta es la pagina de inicio del modelo mama</h1>
    <br>
    <hr>
    <section>
        <article>
            <p>estos son los datos de mi mama en formato lista</p>
            <ul>
                <li>el nombre de mi mama <strong>{{nombre}}</strong></li>
                <li> su edad es {{edad}}</li>
                <li>nacio en la fecha {{nacimiento}}</li>
                <li>trabaja de {{ocupacion}}</li>
            </ul>
        </article>
    </section>
    
</body>
</html>