<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina de inicio del modelo de mi papa</title>
</head>
<body style="color: rgb(204, 194, 194);background-color: crimson;">
    <h1>aqui se guardan los datos del modelo de mi papa</h1>
    <section>
        <article>
            <p>lista de datos de mi papa</p>
            <ul>
                <li>mi papa se llama{{nombre}}</li>
                <li>su ocupacion es de {{ocupacion}}</li>
                <li>nacio en {{nacimiento}}</li>
                <li> y su edad es {{edad}}</li>
            
            </ul>
        </article>
    </section>
</body>
</html>